
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="row">
  <div class="column">
    <h2>Oranges</h2>
    <a routerLink="/products"><img src="../../assets/img/oranges.jpg"/></a>
  </div>

  <div class="column">
    <h2>Description</h2>
    <p>Resize the browser window to see the responsive effect (the columns will stack on top of each other instead of floating next to each other, when the screen is less than 600px wide).</p>
    <a routerLink="/products" button mat-raised-button color = "primary">Go back to Products List</a>
  </div>
</div>
  
</body>
</html>