
<h2>Products List</h2>
<ul>
    <li>
      <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Oranges</mat-card-title>
          </mat-card-header>
          <span>
          <a routerLink="/item-description"><img src="../../assets/img/oranges.jpg"/></a>
            </span>
              <span> Local organic oranges from california. The best ever thosif foisfen asdfjsfn epgmfvj oith aodife sdofieh  </span>
          
        <p>Qty: </p>
           <input id = "quantity" type = "number" class = "form-control" > 
          <div class = "price" >
            <p>price: $10</p>
          </div>
            <!-- <button mat-raised-button color="primary">Add to cart</button> -->
            <a routerLink="/cart" button mat-raised-button color = "primary">Delete</a>
 
        </mat-card>
      </li>


      <li>
          <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>Oranges</mat-card-title>
              </mat-card-header>
              <span>
              <a routerLink="/item-description"><img src="../../assets/img/strawberries.jpg"/></a>
                </span>
                  <span> Local organic oranges from california. The best ever thosif foisfen asdfjsfn epgmfvj oith aodife sdofieh  </span>
              
            <p>Qty: </p>
               <input id = "quantity" type = "number" class = "form-control" > 
              <div class = "price" >
                <p>price: $10</p>
              </div>
                <!-- <button mat-raised-button color="primary">Add to cart</button> -->
                <a routerLink="/cart" button mat-raised-button color = "primary">Delete</a>
            </mat-card>
          </li>
          <a routerLink="/check-out" button mat-raised-button color = "primary">Proceed to Checkout</a>  
</ul>