
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h2>Products List</h2>


<div class = "img-list">

    
    <div id = "img1">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/img1.jpg" alt="Home page image" max-width="300" max-height="300">
        <div class="card-body">
          <h5 class="card-title">Organic Tomatoes</h5>
          <p class="card-text">The best tomatoes in the world.</p>
          <a routerlink ="#" class="/product-list"></a>
          <button mdbBtn type="button" color="primary" rounded="true" mdbWavesEffect>Description</button>  
        </div>
      </div>
    </div>


    <div id = "img2">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/img2.jpg" alt="Garlic Image" max-width="300" max-height="300">
        <div class="card-body">
          <h5 class="card-title">The Best Garlic ever</h5>
          <p class="card-text">The Best Galic coming from the garlic world.</p>
          <a routerlink ="#" class="/product-list"></a>
          <button mdbBtn type="button" color="primary" rounded="true" mdbWavesEffect>Description</button>  
        </div>
      </div>
    </div>

    <div id = "img3">  
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/img3.jpg" alt="Potatoes" max-width="300" max-height="300">
    
        <div class="card-body">
          <h5 class="card-title">The Best Potatoes ever</h5>
          <p class="card-text">They are not bad.</p>
          <a routerlink ="#" class="/product-list"></a>
          <button mdbBtn type="button" color="primary" rounded="true" mdbWavesEffect>Description</button>  
        </div>
      </div>
      </div>

</div>


