<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<h2>Products List</h2>



<ul>
  <li>
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Tomatoes</mat-card-title>
        </mat-card-header>
        <a routerLink="/item-description"><img src="../../assets/img/tomatoes.jpg"/></a>
        <mat-card-content>
          <p></p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Add to cart</button>
          <a routerLink="/item-description" button mat-button color = "primary">Detail</a>
        </mat-card-actions>
      </mat-card>
    </li>

    <li>
      <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Oranges</mat-card-title>
          </mat-card-header>
          <a routerLink="/item-description"><img src="../../assets/img/oranges.jpg"/></a>
          <mat-card-content>
            <p></p>
          </mat-card-content>
          <!-- <mat-card-actions> -->
            <button mat-raised-button color="primary">Add to cart</button>
            <a routerLink="/item-description" button mat-button color = "primary">Detail</a>
          <!-- </mat-card-actions> -->
        </mat-card>
      </li>

      <li>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Strawberries</mat-card-title>
            </mat-card-header>
            <a routerLink="/item-description"><img src="../../assets/img/strawberries.jpg"/></a>
            <mat-card-content>
              <p></p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Add to cart</button>
                <a routerLink="/item-description" button mat-button color = "primary">Detail</a>
            </mat-card-actions>
          </mat-card>
  </li>
</ul>
